
.phone-repair-brand-info-items-even p {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: left;
    color: #434343;

    display: flex;
    align-items: center;
    grid-column: 3/4;
}

.phone-repair-brand-info-items-vector-even {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column: 2/3;
}

.phone-repair-brand-info-items-even-container {
    border: 4px solid #434343;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1/2;
    padding: 20px;
}
.phone-repair-brand-info-items-even-container h6 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: #434343;
}

.phone-repair-brand-info-items-even-container h6 {
    text-align: left;
}


.phone-repair-brand-info-items-even {
    display: grid;
    grid-template-columns: 400px 170px 232px;
}
