.smart-watch-glass {
    width: 280px;
    height: 280px;
    background-image: url(../img/glass.png);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
}