.guarantee {
  
    display: flex;
}
.guarantee-titel h2 {
    width: 311px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: #434343;
    margin-top: 404px;
    margin-left: 111px;
    margin-bottom: 0;
}
.guarantee-about {
    width: 413px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #434343;
    margin-left: 60px;
    padding: 0 15px 0 15px;
}
.guarantee-about-vector {
    display: flex;
    align-items: center;
}
.guarantee-square-vector {
    width: 50px;
    height: 50px;
    margin-top: 23px;
    margin-left: 232px;
    margin-right: 22px;
}
.guarantee-about-vector-horizon {
    margin-right: 22px;
    margin-top: 25px;
}
.guarantee-navigation {
    padding-top: 165px;
}
.guarantee-navigation-connect {
    width: 50px;
    display: flex;
    align-items: center;
}
.guarantee-navigation-connect-square-first {
    margin-top: 165px;
    margin-right: 18px;
    margin-bottom: 13px;
}
.guarantee-navigation-connect-square {
    margin-right: 18px;
    margin-bottom: 13px;
}
.guarantee-navigation-connect-horizont-first {
    margin-top: 150px;
    margin-right: 19px;
}
.guarantee-navigation-connect-horizont {
   
    margin-right: 19px;
}

.guarantee-navigation-vertical {
    margin-left: 25px;
    margin-bottom: 13px;
}

.guarantee-info-item {
    width: 1034px;
    height: 250px;
    border: 1px solid #434343;
    display: flex;
    border-radius: 50px;
    margin-bottom: 88px;
    position: relative;
    margin-left: 200px;
}
.guarantee-info div:first-child {
    margin-top: 66px;
}
.guarantee-img-border {
    margin: 0 !important;
    width: 280px;
    height: 280px;
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 1);
    padding-left: 19px;
    padding-right: 19px;
    position: absolute;
    left: -37px;
    top: -16px;

}
.guarantee-info-image {
    width: 242px;
    height: 250px;
   object-fit: contain;
   object-position: center;
}
.guarantee-info-text {
    margin-left: 268px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #434343;
}
.guarantee-info-text hr {
    width: 714px;
    color: rgba(67, 67, 67, 1);
    margin-top: 7px;
    margin-left: 0;
    margin-bottom: 4px;
}