#modal-window-order {
    max-width: 1012px;
    height: 555px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
}
.modal-window-order-image {
    width: 415px;
    height: 555px;
}
.order-image {
    object-fit: contain;
    object-position: center;
}
.modal-window-order-info { 
    margin-top: 18px;
    margin-left: 26px;
    margin-bottom: 53px;
    margin-right: 63px;
}
.modal-window-order-title {
    font-family: 'Oswald',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #434343;
    margin-bottom: 18px;
}
.modal-window-order-line {
    width: 339px;
    height: 7px;
    background-color: #FFB400;
    border: none;
}
.modal-window-order-text {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    color: #434343;
    margin-bottom: 10px;
}
input[type="text"].modal-window-order-name, input[type="text"].modal-window-order-phone, input[type="text"].modal-window-order-problem {
    width: 517px;
    height: 67px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    margin-bottom: 16px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 60px;
    color: rgba(67, 67, 67, 0.5);
}
input[type="text"].modal-window-order-name {
    background: no-repeat center left 34px;
    padding-left: 86px;
}
input[type="text"].modal-window-order-phone {
   background: no-repeat center left 34px;
    padding-left: 86px;
   
}
input[type="text"].modal-window-order-problem {
    padding-left: 86px;
    background: no-repeat center left 34px;
}
.modal-window-order-button {
    width: 508px;
    height: 67px;
    background: #FFB400;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 60px;
    color: #434343;
}
.modal-window-order-button:active {
	line-height: 73px;
    opacity: 0.88;
}
.modal-window-order-button:disabled {
	pointer-events: none;
	opacity: 0.65;
}