.phone-repair-title {
    margin-left: 72px;
    margin-bottom: 34px;
}
.container-title h2 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 119px;
    text-transform: uppercase;
    color: #434343;
}
.container-title hr {
    width: 635px;
    height: 7px;
    background-color: #FFB400;
    border: none;
    margin-bottom: 8px;
}
.container-title p {
    width: 575px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    color: #434343;
}



.phones-repair-lists {
    margin-left: 32px;
    margin-bottom: 74px;
    height: 275px;
}
.phones-repair-lists ul {
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    color: #434343;
    position: relative;
}
.phone-repair-oppo {
    position: absolute;
    top: 91px;
}
.phone-repeir-iphone {
    position: absolute;
    left: 96px;
}
.phone-repair-realme {
    position: absolute;
    left: 190px;
    top: 91px;
}
.phone-repair-samsung {
    position: absolute;
    left: 284px;
}
.phone-repair-sony {
    position: absolute;
    left: 378px;
    top: 91px;
}
.phone-repair-xiaomi {
    position: absolute;
    left: 472px;
}
.phone-repair-nokia {
    position: absolute;
    left: 566px;
    top: 91px;
}
.phone-repair-huawei {
    position: absolute;
    left: 660px;
}
.phone-repair-asus {
    position: absolute;
    left: 754px;
    top: 91px;
}
.phone-repair-honor {
    position: absolute;
    left: 848px;
}
.phone-repair-blackberry {
    position: absolute;
    left: 942px;
    top: 91px;
}
.phone-repair-meizu {
    position: absolute;
    left: 1036px;
}
.phone-repair-google {
    position: absolute;
    left: 1130px;
    top: 91px;
}
.phone-repair-lg {
    position: absolute;
    left: 1224px;
}
.phone-repair-motorola {
    position: absolute;
    left: 1318px;
    top: 91px;
}
.phone-repair-oneplus {
    position: absolute;
    left: 1412px;
}
.phone-repair-poco {
    position: absolute;
    left: 1506px;
    top: 91px;
}
.phone-repair-vivo {
    position: absolute;
    left: 1600px;
}
.phone-repair-blackview {
    position: absolute;
    left: 1694px;
    top: 91px;
}


.phone-repair-main-img {
    height: 228px;
    width: 100%;
    background-image: url(./img/main-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-top: 7px solid #FFB400;
    border-bottom: 7px solid #434343;
    margin-bottom: 114px;
}

.phone-repair-info {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.phone-repair-item {
    box-sizing: border-box;
    width: 351px;
    height: 361px;
    background-image: url(./img/infoSquare.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.phone-repair-item img {
    position: absolute;
    top: -40px;
}
.phone-repair-item h3 {
    width: 292px;
    margin-top: 61px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #434343;
    margin-bottom: 12px;
}
.phone-repair-item p {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #434343;
    margin-left: 6px;
    margin-right: 6px;
}
.info-garanty h3, .info-work h3 {
    margin-bottom: 40px;
}


.phone-repair-button {
    margin-top: 74px;
    margin-bottom: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.phone-repair-button h2 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #434343;
    margin-bottom: 45px;
}
