.contacts {
    margin-top: 94px;
    margin-left: 119px;
    margin-bottom: 97px;
    display: flex;
    align-items: center;
}
.map {
    width: 986px;
    height: 664px;
}
.map img {
    object-fit: cover;
    object-position: center;
}
.map-info {
    width: 523px;
    height: 459;
    margin-left: 135px;
}
.map-titel {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
    color: #000000;
    margin-bottom: 79px;
}
.map-contacts {
    width: 523px;
    height: 249px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}
.map-contacts ul {
    padding: 0;
    list-style-type: none;
}