.laptop-repair {
    background: #FFFFFF;
    font-family: 'Oswald', sans-serif;
}
.container {
    width: 1920px;
    margin: 0 auto;
}

.laptop-repair-title {
    margin-left: 30px;
    margin-top: 12px;
    margin-bottom: 35px;
}
.laptop-repair-title h2 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 119px;
    text-transform: uppercase;
    color: #434343;
    margin-bottom: 17px;
}
.laptop-repair-title hr {
    width: 622px;
    height: 7px;
    background-color: #FFB400;
    border: none;
    margin-bottom: 7px;
}
.laptop-repair-title p {
    width: 745px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    color: #434343;
}
.laptop-repair-models {
    width: 1878px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    color: #434343;
}
.laptop-repair-models .triangle {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112.43px;
    height: 112.43px;
    transform: rotate(45deg);
    box-shadow: -4px -4px 2.97828px 0.744569px #FFB400;
    border: 2.97828px solid #434343;
}
.laptop-repair-models .triangle:active {
    box-shadow: 4px 4px 2.97828px 0.744569px #434343;
    
}
.laptop-repair-models .triangle:hover p.model-triangle-text {
    color: #FFB400;
    font-size: 27px;
}
.laptop-repair-models .triangle:visited {
    box-shadow: 4px 4px 2.97828px 0.744569px #434343;
}
.laptop-repair-models .triangle:visited p.model-triangle-text{
    color: #FFB400;
}


.laptop-repair-main-image {
    width: 1920px;
    height: 220px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 7px solid #FFB400;
    border-bottom: 7px solid #434343;
}

.laptop-repair-info {
    margin-top: 96px;
    margin-bottom: 113px;
    height: 1481px;
}
.laptop-repair-info-container {
    width: 1580px;
    margin: 0 auto;
}

.laptop-repair-info-item-left {
    position: relative;
}
.laptop-repair-info-item-left h3 {
    width: 295px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #434343;
    margin-bottom: 23px;
}
img.laptop-repair-vector-title {
    position: absolute;
    left: 131px;
}
.laptop-repair-info-item-polygon {
    width: 322px;
    height: 322px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.users-problem {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    left: -10px;
    top: 211px;
    z-index: 2;
}
.system-problem {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    left: 253px;
    top: 360px;
    z-index: 2;
}
.keyboard-problem {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    left: 253px;
    top: 649px;
    z-index: 2;
}
.frame-problem {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    left: 787px;
    top: 380px;
    z-index: 2;
}
.laptop-repair-info-item-main-polygon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 280px;
    height: 280px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.laptop-repair-info-item-main-polygon-text {
    width: 238px;
    height: 166px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #434343;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.laptop-repair-info-item-polygon-color-yellow {
    width: 322px;
    height: 322px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10px;
    top: 507px;
}
.laptop-repair-info-item-polygon-text-yellow {
    width: 250px;
    height: 186px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
}
.laptop-repair-info-item-polygon-color-grey {
    width: 322px;
    height: 322px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 515px;
    top: 503px;
}
.laptop-repair-info-item-polygon-text-grey {
    width: 240px;
    height: 200px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.laptop-repair-vector-01 {
    position: absolute;
    left: 928px;
    top: 280px;
}
.laptop-repair-info-item-left p {
    width: 336px;
    height: 176px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #434343;
    position: absolute;
    left: 763px;
    top: 80px;
}
.laptop-repair-vector-02 {
    position: absolute;
    left: 1128px;
    top: 169px;
}
.laptop-repair-info-item-polygon-container {
    width: 352px;
    height: 352px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1267px;
    top: 8px;
    z-index: 5;
}
.laptop-repair-info-item-polygon-container-text {
    width: 254px;
    height: 210px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #434343;
    z-index: 6;
}
.laptop-repair-vector-03 {
    position: absolute;
    left: 403px;
    top: 950px;
}
.laptop-repair-vector-04 {
    position: absolute;
    left: 403px;
    top: 1186px;
}
.laptop-repair-vector-05 {
    position: absolute;
    left: 552px;
    top: 1330px;
}
p.laptop-repair-text-01 {
    position: absolute;
    left: 281px;
    top: 1039px;
    width: 268px;
    height: 132px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #434343;
}
p.laptop-repair-text-02 {
    position: absolute;
    left: 312px;
    top: 1289px;
    width: 207px;
    height: 88px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #434343;
}
p.laptop-repair-text-03 {
    position: absolute;
    left: 656px;
    top: 1300px;
    width: 403px;
    height: 132px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #434343;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span.laptop-repair-text-span {
    font-weight: 400;
}
.laptop-repair-button {
    margin-top: 113px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 93px;
}