li.square-li {
    width: 112.43px;
    height: 112.43px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -4px -4px 2.97828px 0.744569px #FFB400;
    transform: rotate(45deg);
}
.laptop-repair-model-title {
    width: 112.43px;
    height: 112.43px;
    border: 2.97828px solid #434343;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square-title {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    color: #434343;
    transform: rotate(-45deg);
}