.smart-wathc-slider {
    width: 1920px;
    height: 671px;
    background-image: url(img/slider-image.png);
    border-bottom: 7px solid #434343;
    padding-left: 79px;
}
.smart-wathc-titel {
    height: 103px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    text-transform: uppercase;
    color: #434343;
}
.smart-wathc-vector {
    margin-bottom: 8px;
}
.smart-wathc-slider-text {
    width: 841px;
    height: 98px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    color: #434343;
}
.smart-watch-slider-title-text {
    margin-bottom: 228px;
}
.smart-wathc-button {
    width: 337px;
    height: 64px;
    background: #FFB400;
    border-radius: 30px;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #434343;
}
.smart-watch-info {
    height: 1012px;
    padding-top: 39px;
    padding-left: 265px;
    padding-right: 313px;
}
.smart-watch-container {
    width: 322px;
    height: 322px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}
.glass {
    background-image: url(img/container-glass.png);
    top: 39px;
}
.screen {
    background-image: url(img/container-screen.png);
    left: 254px;
    top: 185px;
}
.buttons {
    background-image: url(img/container-buttons.png);
    top: 39px;
    left: 509px;
}
.battery {
    background-image: url(img/container-battary.png);
    top: 332px;
    left: 509px;
    margin-bottom: 44px;
}
.board {
    background-image: url(img/container-board.png);
    top: 185px;
    left: 766px;
}
.os {
    background-image: url(img/container-os.png);
    top: 39px;
    left: 1020px;
}

.smart-watch-options {
    position: relative;
}
.smart-watch-info-text {
    width: 1017px;
    height: 132px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #434343;
    margin-top: 698px;
    margin-left: 182px;
    margin-bottom: 48px;
}
.smart-watch-info-text span {
    font-weight: 500;
}
.smart-watch-consultation {
    margin-left: 515px;
    width: 337px;
    height: 64px;
    background: #434343;
    border-radius: 30px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}