.phone-repair-brand-info {
    width: 1640px;
    height: 774px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 802px 36px 802px;
    grid-template-rows: 166px 18px 166px 18px 166px 18px 166px 56px;
}

.phone-repair-brand-info-main-vector {
    display: flex;
    justify-content: center;
    grid-row: 1/9;
    grid-column: 2/3;
}
.item1 {
    grid-row: 1/2;
    grid-column: 1/2;
}
.item2 {
    grid-row: 1/2;
    grid-column: 3/4;
}
.item3 {
    grid-row: 3/4;
    grid-column: 1/2;
}
.item4 {
    grid-row: 3/4;
    grid-column: 3/4;
}
.item5 {
    grid-row: 5/6;
    grid-column: 1/2;
}
.item6 {
    grid-row: 5/6;
    grid-column: 3/4;
}
.item7 {
    grid-row: 7/8;
    grid-column: 1/2;
}
.item8 {
    grid-row: 7/8;
    grid-column: 3/4;
}

.phone-repair-brand-buttons {
    width: 372px;
    margin: 0 auto;
}

