.phone-repair-brand-info-items-odd {
    display: grid;
    grid-template-columns: 232px 170px 400px;
}
.phone-repair-brand-info-items-odd p {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: right;
    color: #434343;

    display: flex;
    align-items: center;

    grid-column: 1/2;
}
.phone-repair-brand-info-items-vector-odd {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 2/3;
}
.phone-repair-brand-info-items-odd-container {
    border: 4px solid #434343;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 3/4;
    padding: 20px;
}
.phone-repair-brand-info-items-odd-container h6 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: #434343;
}
.phone-repair-brand-info-items-odd-container h6 {
    text-align: right;
}
.item3 {
    grid-row: 3/4;
    grid-column: 1/2;
}