.laptop-repair-brand-info {
    width: 1640px;
    height: 774px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 802px 36px 802px;
    grid-template-rows: 166px 18px 166px 18px 166px 18px 166px 56px;
}

.laptop-repair-brand-info-main-vector {
    display: flex;
    justify-content: center;
    grid-row: 1/9;
    grid-column: 2/3;
}

.laptop-repair-brand-buttons {
    width: 372px;
    margin: 0 auto;
}