.header-info-contacts-item {
    width: 253px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 12px;
}
.header-info-contacts-img {
    margin-right: 10px;
}
.header-info-contacts-text {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 6px;
    color: #434343;
}