
.first-help-section {
    display: flex;
}
.first-help {
    width: 493px;
    height: 100%;
    padding-top: 100px;
}
.first-help-container {
    width: 450px;
    margin: 0 auto;
}
.first-help-titel {
    width: 376px;
    height: 376px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.first-help-text {
    width: 330px;
    height: 600px;
    border: 1px solid #434343;
    margin-top: 23px;
    z-index: 3;
}
.first-help-text h1 {
    width: 274px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
    color: #434343;
    padding-top: 124px;
    margin: 0 auto;
}
.first-help-text img {
    margin-top: 21px;
    margin-left: 163px;
    margin-bottom: 14px;
}
.first-help-titel-container {
    margin-top: 60px
}
.first-help-text p {
    width: 310px;
    height: 148px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    color: #434343;
    margin: 0 auto;
}
.first-help-images {
    margin-top: 217px;
    z-index: 2;
    width: 450px;
    height: 1058px;
    object-fit: contain;
    object-position: center;
}
.first-help-attention-container {
    position: relative;
    margin: 0 auto;
    width: 376px;
    
}
.first-help-attention {
    width: 376px;
    height: 391px;
    background: #FFB400;
    position: absolute;
    top: 237px;
    left: -23px;
}
.attention-text {
    width: 330px;
    height: 631px;
    border: 1px solid #434343;
    z-index: 4;
    margin: 0 auto;
    position: absolute;
    top: -25px;
}
.attention-text h2 {
    width: 190px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
    color: #434343;
    margin-top: 123px;
    margin-left: 65px;
}
.attention-text p {
    width: 265px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #434343;
    margin-top: 80px;
    margin-left: 30px;
    margin-bottom: 22px;
}
.attention-text button {
    width: 204.08px;
    height: 50.1px;
    background: #434343;
    border-radius: 36.8382px;
    border: none;
    margin-left: 60px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22.1029px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}


.main-first-help-vector {
    margin-left: -228px;
    margin-bottom: 92px;
    padding-top: 100px;
}
.horizon-vector-water {
   padding-top: 222px;
    margin-right: 12px;
    float: left;
}
.vector-title {
    width: 751px;
    margin-left: 300px;
}
.text-vector {
    padding-top: 174px;
    margin-right: 12px;
    float: left;
}
.about-first-titel {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: #434343;
    padding-top: 177px;
}
.about-first-text {
    width: 751px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    color: #434343;
}
.water {
    margin-top: 81px;
}
.about-first-items {
    width: 1252px;
    margin-left: 87px;
    display: flex;
    justify-content: space-between;
}
.about-first-item {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-title {
    margin-bottom: 5px;
}
.item-title img {
    object-fit: contain;
    object-position: center;
}
img.item-icon {
    object-fit: contain;
    object-position: center;
}
.item-vector {
    margin-top: -15px;
    margin-bottom: 8px;
}
.item-text {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    color: #434343;
}
.horizon-vector-liquid {
    margin-top: 126px;
    float: left;
}
.vector-title-liquid {
    
    margin-left: 300px;
}
.vector-title-liquid img.text-vector {
    padding-top: 0;
    margin-top: 85px;
}

.vector-title-liquid h3.about-first-titel {
    width: 905px;
    padding-top: 0;
    padding-top: 86px;
}
.vector-title-liquid div.about-first-text {
    margin-bottom: 73px;
}

.horizon-vector-battery {
    margin-top: 118px;
    float: left;
    margin-right: 12px;
}
.vector-title-battery img.text-vector {
    padding-top: 0;
    margin-top: 70px;
    margin-bottom: 103px;
}
.vector-title-battery h3.about-first-titel {
    padding-top: 0;
    padding-top: 98px;
}
.battery {
    width: 1427px;
}
.about-first-items {
    width: 1359px;
    margin: 0 auto;
}
.first-item {
    box-sizing: border-box;
    width: 253px;
    height: 142px;
    border: 1px solid #434343;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    color: #434343;
    padding: 5px;
    margin-bottom: 14px;
}
.first-item-vector {
    width: 1114px;
    height: 90px;
    margin: 0 auto;
    background-image: url(./img/last-vector.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-left: 280px;
    padding-right: 280px;
    display: flex;
    justify-content: space-between;
}
.first-text {
    padding-top: 35px;
    margin: 0 auto;
    width: 509px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    color: #434343;
}

.horizon-vector-os {
    margin-top: 151px;
    margin-right: 12px;
    float: left;
}
.vector-title-os img.text-vector {
    padding-top: 0px;
    padding-top: 113px;
}
.vector-title-os h3.about-first-titel {
    padding-top: 0;
    padding-top: 133px;
    margin-bottom: 117px;
}
.operating-system div.first-text {
    width: 555px;
}