.button-consultation button {
    width: 372px;
    height: 79px;
    background: #434343;
    border-radius: 50px;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 39px;
}