.secong-tirangle {
    width: 160px;
    height: 160px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-tirangle-color {
    width: 150px;
    height: 150px;
    background: rgba(255, 180, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
