.main-page-info {
    width: 100%;
    height: 753px;
    background-image: url(../img/infoMainPage/rectangle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}

.info-container {
    width: 1560px;
    padding-top: 35px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
